<div class="row">
    <row>
        <h1>FAVOR VERIFICAR O DIAGRAMA DO BANCO ABAIXO PARA REALIZAR OS MÉTODOS:</h1>
    </row>
    <row>
        <img src="~/Content/Diagrama_Banco.jpg" />
    </row>
</div>
